<div style="text-align:center">
  <h1>
    NGRX CRUD {{title}}!
  </h1>
</div>
<h2>Load entities: </h2>
<ul>
  <li>
    <h2><a (click)="loadAll()">CUSTOMER & DICTIONARY</a></h2>
  </li>
  <li>
    <h2><a (click)="loadDictionary()">DICTIONARY</a></h2>
  </li>
  <li>
    <h2><a (click)="loadCustomer()">CUSTOMER</a></h2>
  </li>
</ul>

